body{
margin:0;
font-family:Arial;
background:#4facfe;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.weather-box{
background:white;
padding:30px;
border-radius:15px;
text-align:center;
width:320px;
}

input{
width:90%;
padding:10px;
margin:10px 0;
font-size:16px;
}

button{
padding:10px 20px;
background:#0077ff;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
}

button:hover{
background:#005ecc;
}

#result{
margin-top:20px;
font-size:18px;
}